@import url("http://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
:root{
    --width: 90px;
    --bodyBackground: #f7f7f7;
    --portfolioMinHeight:532px;
    --portfolio-background: 90px;
    --menu-Background: #14fff7;
    --menu-foreground: #0a0f0d;
    --menu-hover: #fififi;
    --subtitle-color: #333333;
    --info-color: #999999;
    --violet: #651fff;
    --pink:#f50057;
    --grey: #757575;
}
body{
    background-attachment: var(--bodyBackground);
    font-family: "poppins", sans-serif;
}
.portfolio{
    min-height: var(--portfolioMinHeight);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid red;
}

/* menu */
.portfolio .menu {
    max-width: var(--width);
    width: var(--width);
    background-color: var(--portfolio-background);
}

.portfolio .menu ul{
    margin: 0;
    padding: 0;
}
.portfolio .menu ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-Background);
    color: var(--menu-foreground);
    text-transform: capitalize;
}
.portfolio .menu ul a.active,
.portfolio .menu ul a:hover {
    background-color: var(--menu-hover);
}

.portfolio .menu ul a .icon{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.portfolio .content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    background-color: var(--portfolio-background);
    transition: all ease 1s;
    overflow: hidden;
}
.portfolio .content.active{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    z-index: 10;
}
.portfolio .content .content-inner{
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio .content .content-inner .sub-title{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--subtitle-color);
    margin: 10px;
}

.portfolio .content .content-inner .info {
    color: var(--info-color);
    text-align: justify;
    font-size: 14px;
}

/* HOME */
#home {
    background-color: #272635;
}
.portfolio #home .portfolio-img-container {
    text-align: center;
    padding: 10px;
}

.portfolio #home .portfolio-img-container img {
    border-radius: 50%;
    padding: 10px;
    max-width: 200px;
    background-color: var(--bodyBackground);
}

.portfolio #home .name{
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    color: var(--bodyBackground);
}

.portfolio #home .name h3{
    margin-top: 0;
}

.portfolio #home .designation{
    text-align: center;
    font-size: 18px;
    margin: 10px auto;
    color: var(--bodyBackground);
}
.portfolio #home .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.portfolio #home .social-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    border-radius: 50px;
    text-decoration: none;
    background-color: var(--menu-Background);
    color: var(--menu-foreground);
}

.portfolio #home .social-icon:hover {
background-color: var(--menu-hover);
}
.portfolio #home .download-btn {
    justify-content: center;
    margin: 20px 62px;
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    background-color:var(--bodyBackground);
    color: var(--menu-hover);
    border-radius: 4px;
}

/* PROJECTS */
#projects .img-container {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

#projects .img-container img {
    transition: all ease 0.5s;
}
#projects .img-container:hover img {
    transform: scale(1.5) rotate(5deg);
}

#projects .img-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(101, 31, 255, 0.45);
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
}
                         /* About */
#about .personDetails {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
#about .personDetails li {
    display: flex;
    margin: 16px auto;
    font-size: 14px;
}
  
#about .personDetails .detailQuestion {
    color: var(--subtitle-color);
    margin-right: 4px;
}
  
#about .personDetails .detailQuestion .icon {
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
  
#about .personDetails .detailAnswer {
    color: var(--info-color);
}
  
#about .skill-container {
    margin: 20px auto;
}
  
#about .skill-container .skill {
    margin-bottom: 4px;
}
  
#about .testimonials-carousel .card .img-container {
    max-width: 150px;
    border-radius: 500px;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
}
  
#about .testimonials-carousel .card-title {
    text-align: center;
}
  
#about .testimonials-carousel .card-text {
    font-size: 14px;
    color: var(--info-color);
    text-align: center;
}
  
#about .moreInfo.card {
    margin: 10px;
}
  
#about .moreInfo .card-title {
    text-align: center;
    color: var(--subtitle-color);
    font-weight: 600;
}
  
#about .moreInfo .card-text {
    text-align: center;
    font-size: 14px;
    color: var(--info-color);
}








@media (min-width: 768px) {
    .portfolio .content{
        position: absolute;
        margin: auto;
        margin-left: var(--width);
        transform: translateX(-10px);
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }
    .portfolio #home .download-btn {
        margin: 20px 243px;

    }
}